.navbar {
    display: flex;
    flex-direction: row;
}

.nav-btns {
    background-color: rgb(24, 23, 23);
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 100%;
    font-size: xx-large;
    border: solid 1px black;
    align-items: center;
}

.nav-btn {
    color: gray;
    padding: 10px;
}

.nav-btn:hover {
    color: white;
    cursor: pointer;
}

.nav-sections {
    background-color: rgb(24, 23, 23);
    width: 230px;
    border-right:  solid 1px black;
    font-size: 1.rem;
    padding-top: 35px;
}

.file {
    color: gray;
    margin-bottom: 10px;
}

.file:hover {
    color: white;
    cursor: pointer;
}

.folder-icon{
    padding-left: 17px;
    display: flex;
    align-items: center;
}

.file-icon {
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.folder-icon svg, .file-icon svg {
    margin-right: 3px;
    font-size: 1.2rem;
}

.top{
    font-weight: 1000;
    padding-left: 15px;
}


a {
    text-decoration: none;
    color: gray;
}
a:visited {
    color: inherit;
}