body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
}

img {
  background-color: transparent;
  width: 350px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.resume-wrap {
  width: 80%;
  height: 80%;
}

.repos {
  margin: 20px;
  display: grid;
  grid-template-columns: 365px 365px 365px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

.code{
    padding-left: 42px;
    overflow-y: scroll;
}

.yml{
    padding-left: 50px;
    font-size: 1rem;
    line-height: 1.6;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
}

.page-layout {
  overflow-y: scroll;
}